# BSC Testnet
BSC_TESTNET_RPC_URL=
BSC_TESTNET_CHAIN_ID=97

# Deployment wallet
DEPLOYER_PRIVATE_KEY=

# Contract configuration
IRB_TEST_TOKEN_ADDRESS=0x7daf7fE962B123A6698D5e3a109c551872790AeA
INITIAL_ADMIN_ADDRESS=
INITIAL_APPROVER_ADDRESS=
INITIAL_PAUSER_ADDRESS=
INITIAL_CAMPAIGN_MANAGER_ADDRESS=

# Explorer verification
BSCSCAN_API_KEY=
